* {
  box-sizing: border-box;
}
body {
  background-image: url('../images/phonebackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

@media only screen and (min-width: 650px) {
  body {
    background-image: url('../images/desktopbackground.jpg');
  }
}

/*TEXT STYLES
=======================================*/

h2 {
  margin-top: 5vh;
  margin-left: 3vw;
  font-family: 'Poiret One', sans-serif;
  width: 70vw;
}

ul {
  list-style: none;
}

li {
  font-size: 4em;
}

/*LINK STYLES
=======================================*/

a {
  text-decoration: underline;
  color: white;
}
a:visited {
  color: rgb(154, 11, 242);
}
a:hover, li:hover {
  color: rgb(9, 244, 237);
}
a:active {
  color: rgb(154, 11, 242);
}

/*IMAGE STYLES
=======================================*/

img {
  max-width: 100%;
  width: 30vw;
}

/*TEMPLATE STYLES
=======================================*/
.template {
  display: none;
}
