* {
  color: white;
  box-sizing: border-box;
}
body {
  background-image: url('../images/phonebackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media only screen and (min-width: 650px) {
  body {
    background-image: url('../images/desktopbackground.jpg');
  }
}

/*TEXT STYLES
=======================================*/

h2 {
  margin-top: 5vh;
  margin-left: 3vw;
  font-family: 'Poiret One', sans-serif;
  width: 70vw;
}

ul {
  list-style: none;
}

li {
  font-size: 4em;
}

/*LINK STYLES
=======================================*/

a {
  text-decoration: none;
}

/*IMAGE STYLES
=======================================*/

img {
  max-width: 100%;
  width: 30vw;
}

/*TEMPLATE STYLES
=======================================*/
.template {
  display: none;
}
