#plus-sign {
  top: 0;
  right: 0;
  position: absolute;
  margin: 10vh;
  color: white;
  font-size: 100px;
}

#nav-bar ul {
  display: none;
  padding: 1vw;
  position: fixed;
  right: 3vw;
  top: 15vw;
}

#nav-bar:hover ul {
  display: block;
}

#nav-bar li {
  margin-right: .4em;
  font-size: 2em;
  padding: .8em .1em;
  border-bottom: 2px solid gray;
  background-color: black;
}

#nav-bar li:hover {
  cursor: pointer;
}

#nav-bar a, li {
  text-decoration: none;
}


@media only screen and (min-width: 650px) {
  #plus-sign {
    display: none;
  }
  #nav-bar ul {
    display: block;
  }
  #nav-bar li {
    font-size: 1.5em;
    padding: 1em .5em;
  }
}

@media screen and (orientation: landscape) and (max-width: 900px) {
  #nav-bar li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  #nav-bar ul {
    top: 0;
  }
}
