.icon-pic {
  width: 5vw;
}

.project-display {
  border: thick solid gray;
  margin: auto;
  margin-bottom: 6vh;
}

#projects {
  max-width: 70vw;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.35);
  display: none;
}

.project-display h2 {
  max-width: 100%;
  width: 30vw;
}
